
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <form action="/regid_post" method="post">
        <label>regid</label>
        <input type="text" class="form-control" name="regid">
        <button type="submit" class="btn btn-warning btn-lg">regid Post!</button>
</form>
</div>
</body>
</html>